.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/

.idea/
*.iml
*.iws
*.ipr
out/
.vscode/

*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
*.py

.DS_Store
Thumbs.db

*.log

local/

neoforge/build/
neoforge/run/
common/build/
compile_errors.txt
classes.txt
tmp/


tmp_src/
tmp/

local/
